


.user__container{
  /* border-bottom: 1.2px solid rgb(255, 133, 34) ; */
  border-bottom: double rgb(255, 133, 34);
  height: 150px;
  width: 600px;
  /* padding: 10px 15px; */
  display: flex;
  flex-direction: column;
  margin-left: 26%;
  justify-content: space-between;
}

.user__name{
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  text-transform: lowercase;
  font-size: 1.4em;
  font-variant: small-caps;
  color: rgb(62, 168, 255);
  align-self: flex-start;
}

.user__information{
  display: flex;  
  justify-content: space-between;
  /* padding-bottom: 25px; */
  color: rgb(0, 97, 177);
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  font-variant: small-caps;
  height: 300px;
  font-size: 0.9em;
}

.userName{
  border-right: 1px solid rgb(255, 133, 34, 0.5);
  margin-right: 20px;
}

.email{
  border-right: 1px solid rgb(255, 133, 34, 0.5);
  margin-right: 20px;

}

.street{
  border-right: 1px solid rgb(255, 133, 34, 0.5);
  margin-right: 20px;

}

.city{
  /* border-right: 1px solid rgb(255, 133, 34, 0.5); */
}

.title{
  color: rgb(255, 120, 9);
}